.page{
  
  margin: 20px;
 
}
.interactions{
text-align: center;  
}
.table{
  margin: 5%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap:12px;
  

}
.table-header{
  display: flex;
  
  line-height: 24px;
  font-size: 16px;
  padding: 0 10px;
  justify-content: space-between;
}
.table-empty{
  margin: 200px;
  text-align: center;
  font-size: 16px;
}
.table-row{
  display:flex;
  width:200px;
  width:200px;
  background-color: #fff4b8;
  
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: lightslategray;
  box-shadow: 5px 5px rgb(99, 99, 99);
  
  
 
}
div.table-row:hover{
  background-color:rgb(255, 228, 75);
}
.title{
  
 margin:auto;
 
 text-align: center;
 display: flex;
 
 
 flex-direction: column;
 flex-wrap: wrap;
 
  
}
.element{
  
  padding: 1%;
 
}
.author{
  
 padding-bottom: 10%;
 color:darkcyan;
  
}
.table-header > span {
  overflow:hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}
.button-inline{
  border-width: 0;
  background: transparent;
  color: inherit;
  text-align: center;
  -webkit-font-smoothing:inherit;
  padding: 0;
  font-size: inherit;
  cursor:pointer ;
} 
.button-active{
  border-radius: 0;
  border-bottom:1px solid #38bb6c ;

}