body {
  color:rgb(255, 255, 255);
  background: #242424;
  font: 400 14px CoreSans,Arial,sans-serif;
}
a {
  color:#222;
  text-decoration: none;
}
a:hover {
color: lightcoral;
}
input {
  padding: 10px;
  border-radius:5px;
  outline:none;
  margin-right:10px;
  border:1px solid #dddddd;
}
button {
  width: 30px;
  height: 30px;
  margin-left: auto;
  border-radius:5px;
  border:1px solid #dddddd;
 
  color: #808080;
  cursor:pointer;
}
button:hover{
  color: #222;
}
*:focus{
  outline: none;
}
 